@media screen and (max-width: 1300px){
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        .icons{
            img{
                width: 4%;    
            }
        }
    }
}

@media screen and (max-width: 1135px){
    .about{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;

        .textAbout{
            width: 100%;
            text-align: center;
            padding: 10px;

            h2.title{
                text-align: center;
            }

            p.text{
                text-align: justify;
                padding: 0 30px;
                text-indent: 40px;
            }

        }

        .image{
            .bgFundo{
                margin-left: 0px;
                margin-bottom: 40px;

                
            }
        }

        .btns{
            margin-top: 42px;
        }
    }
}

@media screen and (max-width: 890px){
    .banner{
        .rightSide{
            width: 45%;
            margin-right: 20px;
            img{
                width: 100%;
                margin-top: 120px;
            }
        }
    }

    .skills{
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 820px){
    .about{
        .image{
            margin-left: calc(2 * -15%);
            .bgFundo{
                margin-left: 0px;
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 690px){
    .about{
        .image{
            margin-left: calc(2 * -30%);
        }
    }

    .banner{
        display: block;
        height: 100%;

        .leftSide{
            margin: 0 auto;
           .text{
               margin-top: 0%;
               padding: 0px;
               padding-top: 20px;
               text-align: center;
           }
        }

        .rightSide{
            margin: 0 auto;
            margin-top: -50px;
        }
       
    }

    .about{
        .textAbout{
            .btns{
                button.download-curriculo{
                   margin-top: 20px;
                }
            }
        }

    }

    .skills{
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: none;
        text-align: left;
        margin: 0 auto;

        .box{
            ul{
                li{
                    text-align: left;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 570px){
    header.navbar .menu .nav .nav-item {
        margin: 0px; 
    }

    .about{
        .image{
            margin-left: calc(2 * -30%);
            display: none;
        }
    }

    footer{
        .icons{
            img{
                width: 6%;    
            }
        }
    }
}

@media screen and (max-width: 500px){
  
    .projects{
        .wrapper{
            .card{
                width: 100%;

                .card-body{
                    button[type=button]{
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .about{
        .textAbout{
            p.text{
                padding: 0px;
            }

            .btns{
                
    
                button.download-curriculo{
                    padding: 2px 20px;
                }

                button.btn-linkedin{
                    padding: 2px 20px;
                }
            }
        }

        
    }
    
}

@media screen and (max-width: 470px){
    header.navbar{
        display: none;
    }

    .banner{
        .leftSide{
            .text{
                display: none;
            }

            .text-responsive{
                display: inline;        
                h1{
                    font-size: 2em;

                    span{
                        font-size: 2.2em;
                    }
                }
            }
        }
    }
}

    

@media screen and (max-width: 895px){
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }

    .projects .wrapper{
        margin: 0 auto;
    }
}