@media screen and (max-width: 1300px){
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        .icons{
            img{
                width: 4%;    
            }
        }
    }
}

@media screen and (max-width: 1135px){
    .about{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;

        .textAbout{
            width: 100%;
            text-align: center;
            padding: 10px;

            h2.title{
                text-align: center;
            }

            p.text{
                text-align: justify;
                padding: 0 30px;
                text-indent: 40px;
            }

        }

        .image{
            .bgFundo{
                margin-left: 0px;
                margin-bottom: 40px;

                
            }
        }

        .btns{
            margin-top: 42px;
        }
    }
}

@media screen and (max-width: 890px){
    .banner{
        .rightSide{
            width: 45%;
            margin-right: 20px;
            img{
                width: 100%;
                margin-top: 120px;
            }
        }
    }
}

@media screen and (max-width: 820px){
    .about{
        .image{
            margin-left: calc(2 * -15%);
            .bgFundo{
                margin-left: 0px;
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 690px){
    .about{
        .image{
            margin-left: calc(2 * -30%);
        }
    }

    .banner{
        display: block;
        height: 100%;

        .leftSide{
            margin: 0 auto;
           .text{
               margin-top: 0%;
               padding: 0px;
               padding-top: 20px;
               text-align: center;
           }
        }

        .rightSide{
            margin: 0 auto;
            margin-top: -50px;
        }
       
    }

    .about{
        .textAbout{
            .btns{
                button.download-curriculo{
                   margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 570px){
    .about{
        .image{
            margin-left: calc(2 * -30%);
            display: none;
        }
    }

    footer{
        .icons{
            img{
                width: 6%;    
            }
        }
    }
}

@media screen and (max-width: 570px){
    header.navbar .menu .nav .nav-item {
        margin: 0px; 
    }
}

    

@media screen and (max-width: 895px){
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }

    .projects .wrapper{
        margin: 0 auto;
    }
}